<aside class="sidebar">

  <div>
    <h2>TaxPal</h2>

    <nav>
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
      >
        Dashboard
      </a>

      <a
        routerLink="/transactions"
        routerLinkActive="active"
      >
        Transactions
      </a>

      <a
        routerLink="/budgets"
        routerLinkActive="active"
      >
        Budgets
      </a>

      <a
        routerLink="/categories"
        routerLinkActive="active"
      >
        Categories
      </a>
    </nav>
  </div>

  <button
    type="button"
    class="logout-button"
    (click)="logout()"
  >
    Logout
  </button>

</aside>